Write a Python program to add an item to a tuple.

In [1]:
tuple1 = (1, 2, 3)
tuple1 = tuple1 + (4,)
print(tuple1)

(1, 2, 3, 4)

Write a Python program to sum all the items in a list.

In [2]:
list1 = [1, 2, 3, 4, 5]
sum = 0
for i in list1:
    sum += i
print(sum)

15

Write a Python program to multiply all the items in a list.

In [3]:
list1 = [1, 2, 3, 4, 5]
multiply = 1
for i in list1:
    multiply *= i
print(multiply)

120

Write a Python program to get the smallest number from a list.

In [5]:
list1 = [4, 2, 3, 4, 5]
min = list1[0]
for i in list1:
    if i < min:
        min = i
print(min)

2

Write a Python program to get the largest number from a list.

In [6]:
list1= [4, 2, 3, 4, 5]
max = list1[0]
for i in list1:
    if i>max:
        max = i
print(max)

5

Write a Python program to count the number of strings from a given list of
strings.

In [7]:
strigs= ['a', 'b', 'c', 'd', 'e']
count = 0
for i in strigs:
    count += 1
print(count)

5

Write a Python program to clone or copy a list

In [8]:
list1 = [1, 2, 3, 4, 5]
list2 = list1.copy()
print(list2)

[1, 2, 3, 4, 5]

Write a Python program to remove item(s) from a given set.

In [9]:
set1 = {1, 2, 3, 4, 5}
set1.remove(3)
print(set1)

{1, 2, 4, 5}

Write a Python program to check if a set is a subset of another set.

In [12]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 4}
print(set2.issubset(set1))

True

Write a Python program to remove all elements from a given set.

In [20]:
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

Write a Python program to find the maximum and minimum values in a set.

In [27]:
set1 = {1, 2, 3, 4, 5}
print(max(set1))
print(min(set1))

5
1

Write a Python program to find the index of an item in a tuple.

In [28]:
my_tuple = (10, 20, 30, 40)
index = my_tuple.index(30)
print(index)

2

Write a Python program to convert a tuple to a dictionary.

In [29]:
tpl1= (('a', 1), ('b', 2), ('c', 3))
dict1 = dict(tpl1)
print(dict1)

{'a': 1, 'b': 2, 'c': 3}

Write a Python program to unzip a list of tuples into individual lists.

In [30]:
list_of_tuples = [(1, 2, 3), (4, 5, 6)]
unzip = list(zip(*list_of_tuples))
print(unzip)

[(1, 4), (2, 5), (3, 6)]

Write a Python program to reverse a tuple.

In [31]:
tpl1 = (1, 2, 3, 4, 5)
tpl1 = tpl1[::-1]
print(tpl1)

(5, 4, 3, 2, 1)

Write a Python program to convert a list of tuples into a dictionary.

In [32]:
list_of_tuples = [('a', 1), ('b', 2), ('c', 3)]
dict1 = dict(list_of_tuples)
print(dict1)

{'a': 1, 'b': 2, 'c': 3}

Write a Python program to replace the last value of tuples in a list.

In [33]:
sample_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
modified_list = [tup[:-1] + (100,) for tup in sample_list]
print(modified_list)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

Write a Python program to sort a tuple by its float element.

In [34]:
tpl1 = (('a', 1.1), ('b', 2.2), ('c', 3.3))
tpl1 = sorted(tpl1, key=lambda x: x[1])
print(tpl1)

[('a', 1.1), ('b', 2.2), ('c', 3.3)]