## Exercise:

- You have a list of strings that contain messy text data. Your task is to clean the text by performing the following operations using list comprehensions:

1. Remove leading and trailing whitespace from each string.
2. Convert all characters to lowercase.
3. Remove any non-alphanumeric characters (except spaces).
4. Replace multiple spaces with a single space.

In [ ]:
raw_data = [
    "  Hello, World!   ",
    "Python   is Great.   ",
    "Data-Science? Is Amazing!!  ",
    " Clean    Your  DATA!!!   "
]

## Goal:

- Create a cleaned version of the raw_data list using list comprehensions. The expected output should be:

In [ ]:
cleaned_data = [
    "hello world",
    "python is great",
    "data science is amazing",
    "clean your data"
]

In [7]:
raw_data = [
    "  Hello, World!   ",
    "Python   is Great.   ",
    "Data-Science? Is Amazing!!  ",
    " Clean    Your  DATA!!!   "
]
step1 = [i.strip() for i in raw_data]
step2 = [i.lower() for i in raw_data]

step3 = [' '.join(''.join([char if char.isalnum() or char == " " else "" for char in s]).split()) for s in step2]

print(step3)

['hello world', 'python is great', 'datascience is amazing', 'clean your data']

## Exercise Set:

- You have a list of strings that contain messy text data. Your task is to clean the text by performing the following operations:

1. Remove leading and trailing whitespace from each string.
2. Convert all characters to lowercase.
3. Remove any non-alphanumeric characters (except spaces).
4. Replace multiple spaces with a single space.

In [ ]:
raw_data = [
    "  Hello, World!   ",
    "Python   is Great.   ",
    "Data-Science? Is Amazing!!  ",
    " Clean    Your  DATA!!!   ",
    "EXtra     Spaces       Everywhere 123  ",
    "Mix3D      numb3r5 aND L3tt3rs!!!"
]

## Goal:

- Create a function clean_text that takes raw_data as input and returns a cleaned version of the list. The expected output should be:

In [8]:
cleaned_data = [
    "hello world",
    "python is great",
    "data science is amazing",
    "clean your data",
    "extra spaces everywhere 123",
    "mix3d numb3r5 and l3tt3rs"
]

In [21]:
raw_data = [
    "  Hello, World!   ",
    "Python   is Great.   ",
    "Data-Science? Is Amazing!!  ",
    " Clean    Your  DATA!!!   ",
    "EXtra     Spaces       Everywhere 123  ",
    "Mix3D      numb3r5 aND L3tt3rs!!!"
]

step1 = [i.strip() for i in raw_data]
step2 = [i.lower() for i in raw_data]

step3 = [ ' '.join(''.join([char if char.isalnum() or char == " " else "" for char in s]).split()) for s in step2]

print(step3)

['hello world', 'python is great', 'datascience is amazing', 'clean your data', 'extra spaces everywhere 123', 'mix3d numb3r5 and l3tt3rs']

## Exercise 1: Squaring Numbers
- Input :numbers = [1, 2, 3, 4, 5]
- Output: squared_numbers = [1, 4, 9, 16, 25]

In [44]:
numbers = [1, 2, 3, 4, 5]
step1 = [i**2 for i in numbers]
print("squared_numbers = " , step1)

squared_numbers =  [1, 4, 9, 16, 25]

## Exercise 2: Filtering Even Numbers
- Task: Given a list of numbers, create a new list containing only the even numbers.

- Input:
- numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
- Output:
- even_numbers = [2, 4, 6, 8, 10]

In [5]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
step1 = [i for i in numbers if i % 2 ==0]
print("even_numbers = ", step1)

even_numbers =  [2, 4, 6, 8, 10]

##Exercise 3: Extracting Initials
-Task: Given a list of names, create a new list with the initials of each name.

- Input:
- names = ["Alice Smith", "Bob Johnson", "Charlie Brown"]
- Output:
- initials = ["A.S.", "B.J.", "C.B."]

In [4]:
names = ["Alice Smith", "Bob Johnson", "Charlie Brown"]
step1 = ['.'.join([s[0] for s in i.split()]) + '.' for i in names]
print("initials = " , step1)

initials =  ['A.S.', 'B.J.', 'C.B.']

## Exercise 4: Fahrenheit to Celsius
- Task: Given a list of temperatures in Fahrenheit, create a new list with the temperatures converted to Celsius.

- Input:
fahrenheit = [32, 68, 100, 212]
- Output:
celsius = [0.0, 20.0, 37.77777777777778, 100.0]

In [2]:
fahrenheit = [32, 68, 100, 212]
step1 = [(i - 32)*5/9 for i in fahrenheit]
print("celsius = " , step1)

celsius =  [0.0, 20.0, 37.77777777777778, 100.0]

## Exercise 5: Flattening a List of Lists
## Task: Given a list of lists, create a new flattened list containing all the elements.

- Input:
- list_of_lists = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
- Output:

- flattened_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list_of_lists = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
step1 = [item for sublist in list_of_lists for item in sublist]
print("flattened_list = ", step1)

flattened_list =  [1, 2, 3, 4, 5, 6, 7, 8, 9]

## Exercise 7: Filtering Words by Length
- Task: Given a list of words, create a new list containing only the words that are longer than 3 characters.

- Input:
words = ["cat", "elephant", "dog", "tiger"]
- Output:
long_words = ["elephant", "tiger"]

In [10]:
words = ["cat", "elephant", "dog", "tiger"]
step1 = [i for i in words if len(i)>3]
print("long_words = ", step1)

long_words =  ['elephant', 'tiger']

## Exercise 8: Sum of a List
- Task: Write a function sum_list that takes a list of numbers and returns the sum of those numbers.

- Input:
numbers = [1, 2, 3, 4, 5]
- Output:
sum_list(numbers)  # Output: 15

In [16]:
def sum_list(numbers):
    return sum(numbers)
numbers = [1, 2, 3, 4, 5]
sum_list(numbers)

15

## Exercise 9: Count Occurrences
- Task: Write a function count_occurrences that takes a list and an element, and returns the number of times the element appears in the list.

- Input:
elements = [1, 2, 2, 3, 4, 2, 5]
element_to_count = 2
- Output:
count_occurrences(elements, element_to_count)  # Output: 3

In [14]:
def count_occurrences(elements,element_to_count):
    return elements.count(element_to_count)

elements = [1, 2, 2, 3, 4, 2, 5]
element_to_count = 2

count_occurrences(elements,element_to_count)

3

## Exercise 10: Remove Duplicates
- Task: Write a function remove_duplicates that takes a list and returns a new list with duplicates removed, preserving the order of the first occurrence of each element.

- Input:
items = [1, 2, 2, 3, 4, 4, 5]
- Output:
remove_duplicates(items)  # Output: [1, 2, 3, 4, 5]

In [18]:
def remove_duplicates(items):
    seen = []
    return [i for i in items if i not in  seen and seen.append (i) is None]

items = [1, 2, 2, 3, 4, 4, 5]

remove_duplicates(items)

[1, 2, 3, 4, 5]